**Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple**

In [1]:
string = "Hello, World!"

In [2]:
type(string)

str

In [3]:
list = [1, 2, 3, 4, 5]

In [4]:
type(list)

list

In [5]:
float = 9.9

In [6]:
type(float )

float

In [7]:
tuple = (10, 20, 30,40,50,60)

In [8]:
type(tuple )

tuple

**Q2. Given are some following variables containing data:**

**(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.**

**What will be the data type of the above given variable.**

In [17]:
var1 = ''

In [18]:
type(var1)

str

In [13]:
 var2 ='[ DS, ML, Python]'

In [14]:
type( var2)

str

In [26]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [27]:
type(var3)

list

In [23]:
var4 = 1

In [24]:
type(var4)

int

**Q3. Explain the use of the following operators using an example:**
    
**(i) /
(ii) %
(iii) //
(iv) ****

The / operator is used for division

In [30]:
10/3

3.3333333333333335

The % operator used to calculate the remainder when one number is divided by another number.

In [31]:
10%3

1

The // operator use to perform floor division i.e. it returns the largest integer less than or equal to the result of the division.

In [32]:
10//3

3

In [34]:
9//5

1

The ** operator is used for exponentiation.

In [35]:
2**3

8

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type**

In [42]:
A = [True, [1, 2, 3], 42, 'Hello', 3.14,{'name': 'John', 'age': 30}, (10, 20), 55, 'Python', False]

for i in A :
    
    print(f"Element: {i},      Data Type: {type(i)}")

Element: True,      Data Type: <class 'bool'>
Element: [1, 2, 3],      Data Type: <class 'list'>
Element: 42,      Data Type: <class 'int'>
Element: Hello,      Data Type: <class 'str'>
Element: 3.14,      Data Type: <class 'float'>
Element: {'name': 'John', 'age': 30},      Data Type: <class 'dict'>
Element: (10, 20),      Data Type: <class 'tuple'>
Element: 55,      Data Type: <class 'int'>
Element: Python,      Data Type: <class 'str'>
Element: False,      Data Type: <class 'bool'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.**

In [50]:

A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0


while A >= B and B != 0:
    if A % B == 0:
        A = A / B
        count += 1
    else:
        break

if A == 1:
    print(f"{A} is purely divisible by {B} {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A: 25
Enter number B: 5
1.0 is purely divisible by 5 2 times.

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.**

In [53]:
list = [1, 2, 31, 4, 54, 6, 72, 8, 9, 108,
           11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
           21, 22, 23, 24, 25]


for i in list:
    if i % 3 == 0:
        
        print(f"{i} is divisible by 3")
        
    else:
        
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
31 is not divisible by 3
4 is not divisible by 3
54 is divisible by 3
6 is divisible by 3
72 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
108 is divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.**

**MUTABLE-** 1.mutable objects are objects which can be modified after they are created.

            2.This means that we can change their values, add or remove elements, or modify their internal structure.
            3.EXAMPLE:-LIST,SET,dictionaries

In [57]:
B= [1, 2, 3]

In [58]:
B.append(4)

In [59]:
print(B)

[1, 2, 3, 4]

**IMMUTABLE:-** 1.immutable objects are objects which cannot be modified after they are created.

              2. This means that once an immutable object is created, we cannot change its value or internal state.  
              3.EXAMPLE:- TUPLE , strings,float

In [60]:
j=(1,2,3)

In [61]:
j.append(5)

AttributeError: 'tuple' object has no attribute 'append'