# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. It allows for efficient retrieval, manipulation, and management of data. It serves as a central repository for storing and managing various types of information, making it possible to store, retrieve, update, and delete data in a systematic and structured manner.

Differentiation between SQL and NoSQL databases-

1. Data Model:

SQL Databases:
Use a tabular structure to store data.Data is organized into rows and columns.Each column has a specific data type.Relationships between tables are established using foreign keys.

NoSQL Databases:
Use various data models such as key-value, document, column-family, and graph.Data is stored in a more flexible and dynamic format.

2. Schema:

SQL Databases: Have a fixed schema that defines the structure of tables and columns.

NoSQL Databases:Can be schema-less or schema-flexible.

3. Query Language:

SQL Databases:
Use the structured query language for data querying and manipulation.
SQL offers powerful querying capabilities, including complex joins, aggregation functions, and data manipulation.

NoSQL Databases:
Use various query languages or APIs depending on the specific database and data model.Query languages might be more simplistic compared to the rich querying capabilities of SQL.

4. Transactions and Consistency:

SQL Databases:
Generally offer strong ACID (Atomicity, Consistency, Isolation, Durability) transactions.Ensures data consistency even in the case of failures or concurrent updates.

NoSQL Databases:
Might offer eventual consistency rather than strict consistency.Sacrifices some level of consistency for improved scalability and performance.

5. Scalability:

SQL Databases:
Traditional SQL databases are often vertically scalable.Horizontal scalability might require more complex setups.

NoSQL Databases:
Designed for horizontal scalability from the beginning.

6. Use Cases:

SQL Databases:
Well-suited for applications where structured data, complex querying, and transactional integrity are important.Commonly used in financial systems, e-commerce platforms, and relational data scenarios.

NoSQL Databases:
Ideal for handling large volumes of unstructured or semi-structured data.Suitable for applications like social media, content management, real-time analytics, and IoT.

7. Examples:

SQL Databases:
MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.

NoSQL Databases:
MongoDB (document), Cassandra (column-family), Redis (key-value), Neo4j (graph).

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**DDL (Data Definition Language):**

DDL is a subset of SQL (Structured Query Language). DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas. Unlike DML (Data Manipulation Language), which is used to manipulate data within the database, DDL focuses on the management and organization of the data itself.

**1.CREATE:**

The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas.

#Query for table creation in SQL-

CREATE TABLE Employees (

    EmployeeID INT PRIMARY KEY,
    
    FirstName VARCHAR(50),
    
    LastName VARCHAR(50),
    
    Department VARCHAR(50)
    
);

**2.DROP:**
    
The DROP statement is used to delete existing database objects.

#Query for DROP table in SQL-

DROP TABLE Employees;

**3. ALTER:**

The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.

#Query for ALTER table in SQL-

ALTER TABLE Employees

ADD Email VARCHAR(100);

**4. TRUNCATE:**

It is used to remove all rows from a table, but it retains the structure of the table for future use. Unlike DELETE, which removes individual rows, TRUNCATE is a faster operation and doesn't generate as much log data.

#Query for TRUNCATE table in SQL

TRUNCATE TABLE Employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is Data Manipulation Language. It is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML statements are used to insert, update, and delete data within tables, enabling interactions with the actual data records.

**1.INSERT:**

The INSERT statement is used to add new rows of data into a table.

#Query for INSERT in SQL-

INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)

VALUES (1, 'John', 'Doe', 'HR');

**2.UPDATE:**

The UPDATE statement is used to modify existing data in a table.

#Query for UPDATE in SQL-

UPDATE Employees

SET Department = 'Marketing'

WHERE EmployeeID = 1;

**3. DELETE:**

The DELETE statement is used to remove one or more rows from a table.

#Query for DELETE in SQL-

DELETE FROM Employees

WHERE EmployeeID = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL is Data Query Language. It is used for querying and retrieving data from a database. DQL statements are primarily used to retrieve specific data from tables based on specified criteria and conditions.

**SELECT Statement:**

The SELECT statement is the fundamental DQL command used to retrieve data from one or more tables in a database.

for example, to know the First Name, Last Name, Age of employee we can run following query to retrieve data:

SELECT FirstName, LastName, Age

FROM Students;

# Q5. Explain Primary Key and Foreign Key.

**Primary Key:**

A primary key is a column or a combination of columns in a database table that uniquely identifies each row or record in that table. It ensures that each record in the table has a unique identifier, which is critical for maintaining data integrity and enabling efficient data retrieval. A primary key constraint guarantees that there are no duplicate values in the primary key column(s) and that the values are never null.

**CHARACTERISTICS-**
1.Uniqueness

2.Non-null

3.Uniquely

**Foreign Key:**

A foreign key is a column in a table that establishes a link between the data in two tables. It creates a relationship between two tables based on the values of the foreign key column and the primary key column in another table. The foreign key column in one table references the primary key column in another table.

**CHARACTERISTICS- **
1.References a primary key.

2.Maintains referential integrity

3.Establishes relationships

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [5]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\sampada\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import  mysql.connector


connect = mysql.connector.connect(

    host="localhost",
    
    user="username", 
    
    password="password",
    
    database="mydatabase" 
    
)

cursor = connect.cursor()

cursor.execute("SELECT FirstName, LastName FROM Employees")

results = cursor.fetchall()

for row in results:

    print("First Name:", row[0])
    
    print("Last Name:", row[1])
    
    print()

cursor.close()

connect.close()

The cursor is used to execute SQL statements and retrieve data from the database.

We use the execute() method of the cursor to execute the query.

# Q7. Give the order of execution of SQL clauses in an SQL query.

order of execution for the main clauses in an SQL query:

FROM

JOIN

WHERE 

GROUP BY

HAVING

SELECT

DISTINCT

ORDER BY

LIMIT